{% extends 'blog/base.html' %}

{% block title%} Детали статьи {% endblock %}

{% block content %}
{% include 'blog/header.html' %}
<h2>{{ article.title }}</h2>
<p>Дата публикации: {{ article.created_at | date:"d.m.Y" }} </p>
<p>Содержание: {{ article.text }} </p>
<p>Просмотров статьи: {{ article.views_counter }} </p>
<a href="{% url 'blog:article_update' article.pk %}" class="btn btn-secondary">Редактировать</a>
<a href="{% url 'blog:article_delete' article.pk %}" class="btn btn-danger">Удалить</a>
<a href="{% url 'blog:articles_list' %}" class="btn btn-primary">Список статей</a>

{% endblock %}
