{% extends 'catalog/base.html' %}

{% block title%} Добавление продукта {% endblock %}
{% block content %}

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Меню</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/catalog/main_page/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="/catalog/category/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Категории
                </a>
            </li>
            <li>
                <a href="/catalog/catalog/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Каталог
                </a>
            </li>
            <li>
                <a href="/catalog/contacts/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Контакты
                </a>
            </li>
            <li>
                <a href="/catalog/add_products/" class="nav-link active">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#toggles2"/>
                    </svg>
                    Добавление продуктов
                </a>
            </li>
        </ul>
        <hr>
<!--        <div class="dropdown">-->
<!--            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"-->
<!--               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--                <strong>Пользователь</strong>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">-->
<!--                <li><a class="dropdown-item" href="#">Профиль</a></li>-->
<!--                <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                </li>-->
<!--                <li><a class="dropdown-item" href="#">Выход</a></li>-->
<!--            </ul>-->
<!--        </div>-->
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'users:logout' %}" style="display: inline">
            {% csrf_token %}
          <button class="btn btn-secondary" type="submit" aria-expanded="false">
            Выход
          </button>

        </form>
        {% else %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Действия
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="{% url 'users:login' %}">Вход</a></li>
            <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Separated link</a></li>-->
          </ul>
        </div>
        {% endif %}
    </div>

    <div class="b-example-divider"></div>

    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-5 fw-normal text-body-emphasis">Добавление продуктов</h1>
                <p class="fs-5 text-body-secondary">Здесь вы можете добавить свой продукт</p>
            </div>
        </header>

        <main class="row">
            <div class="row text-center">

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            {% if user.is_authenticated %}
                            <form class="row m-1" method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{form.non_field_errors}}
                               <p>
                                   {{ form.name }}
                                    {% if form.name.errors %}
                                           <small class="text-danger">{{ form.name.errors.0 }}</small>
                                    {% endif %}
                               </p>

                               <p>
                                   {{ form.description }}
                                    {% if form.description.errors %}
                                           <small class="text-danger">{{ form.description.errors.0 }}</small>
                                    {% endif %}
                                </p>
                                <p>
                                    {{ form.category }}
                                    {% if form.category.errors %}
                                           <small class="text-danger">{{ form.category.errors.0 }}</small>
                                    {% endif %}
                                </p>
                                <p>
                                   {{ form.price }}
                                    {% if form.price.errors %}
                                           <small class="text-danger">{{ form.price.errors.0 }}</small>
                                    {% endif %}
                                </p>
                                <p>
                                    {{ form.image }}
                                    {% if form.image.errors %}
                                           <small class="text-danger">{{ form.image.errors.0 }}</small>
                                    {% endif %}
                                </p>
                                <p>
                                    {{ form.videos }}
                                    {% if form.videos.errors %}
                                           <small class="text-danger">{{ form.videos.errors.0 }}</small>
                                    {% endif %}
                                 </p>
                                {% if perms.catalog.can_unpublish_product %}
                                    <p> Товар опубликован?
                                        {{ form.is_published }}
                                        {% if form.is_published.errors %}
                                               <small class="text-danger">{{ form.is_published.errors.0 }}</small>
                                        {% endif %}
                                     </p>
                                {% endif %}
                                <button type="submit" name="add_product" class="btn w-100 btn-primary mb-2">Создать продукт</button>
                            </form>
                            {% else %}
                            <p>Вы не авторизованы и не можете добавлять продукт</p>
                            <a href="{% url 'users:login'%}" class="btn w-45 btn-warning">Зарегистрироваться</a>
                            {% endif %}
                      </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <form>
                              <div>
                                <h4>Наши контакты:</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                    software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>

                              </div>
                            </form>
                      </div>
                    </div>
                </div>


        </main>

    </div>

{% endblock %}