{% extends 'catalog/base.html' %}

{% block title%} Страница каталога {% endblock %}
{% block content %}

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Меню</span>
        </a>
        <hr>
           <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/catalog/main_page/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="/catalog/category/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Категории
                </a>
            </li>
            <li>
                <a href="/catalog/catalog/" class="nav-link active">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Каталог
                </a>
            </li>
            <li>
                <a href="/catalog/contacts/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Контакты
                </a>
            </li>
            <li>
                <a href="/catalog/add_products/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#toggles2"/>
                    </svg>
                    Добавление продуктов
                </a>
            </li>
        </ul>
        <hr>
<!--        <div class="dropdown">-->
<!--            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"-->
<!--               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--                <strong>Пользователь</strong>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">-->
<!--                <li><a class="dropdown-item" href="#">Профиль</a></li>-->
<!--                <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                </li>-->
<!--                <li><a class="dropdown-item" href="#">Выход</a></li>-->
<!--            </ul>-->
<!--        </div>-->
           {% if user.is_authenticated %}
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
              <option selected>Пользователь</option>
<!--              <option value="1">Вход</option>-->
              <option value="2">Выход</option>
<!--              <option value="3">Регистрация</option>-->
            </select>
        </div>
        {% else %}
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
<!--              <option selected>Пользователь</option>-->
              <option value="1">Вход</option>
<!--              <option value="2">Выход</option>-->
              <option value="3">Регистрация</option>
            </select>
        </div>
        {% endif %}
    </div>

    <div class="b-example-divider"></div>

    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mt-3 mx-auto text-center">
                <h3 class="display-5 fw-normal text-body-emphasis">Каталог</h3>
                <p class="fs-5 text-body-secondary">Вы находитесь на странице каталога</p>
            </div>
        </header>

        <main class="row">
            <div class="row text-center">
                <div class="col-4 ml-5 mt-5">
                    <div class="card">
                      <img src="./$.jpeg" class="img-fluid img-thumbnail" alt="Доллар" width="200">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-primary">Просмотр</a>
                                  <a href="#" class="btn btn-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
               <div class="col-4 ml-5 mt-5">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-primary">Просмотр</a>
                                  <a href="#" class="btn btn-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-4 ml-5 mt-5">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-primary">Просмотр</a>
                                  <a href="#" class="btn btn-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-4 ml-5 mt-5">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-primary">Просмотр</a>
                                  <a href="#" class="btn btn-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-4 ml-5 mt-5">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-primary">Просмотр</a>
                                  <a href="#" class="btn btn-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-4 ml-5 mt-5">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn-group">
                                  <a href="#" class="btn btn-primary">Просмотр</a>
                                  <a href="#" class="btn btn-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>


        </main>

    </div>

{% endblock %}