{% extends 'catalog/base.html' %}

{% block title%} Страница категорий {% endblock %}
{% block content %}
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Меню</span>
        </a>
        <hr>
           <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/catalog/main_page/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="/catalog/category/" class="nav-link active">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Категории
                </a>
            </li>
            <li>
                <a href="/catalog/catalog/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Каталог
                </a>
            </li>
            <li>
                <a href="/catalog/contacts/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Контакты
                </a>
            </li>
            <li>
                <a href="/catalog/add_products/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#toggles2"/>
                    </svg>
                    Добавление продуктов
                </a>
            </li>
        </ul>
        <hr>
<!--        <div class="dropdown">-->
<!--            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"-->
<!--               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--&lt;!&ndash;                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">&ndash;&gt;-->
<!--                <strong>Пользователь</strong>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">-->
<!--                <li><a class="dropdown-item" href="#">Профиль</a></li>-->
<!--                <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                </li>-->
<!--                <li><a class="dropdown-item" href="#">Выход</a></li>-->
<!--            </ul>-->
<!--        </div>-->
           {% if user.is_authenticated %}
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
              <option selected>Пользователь</option>
<!--              <option value="1">Вход</option>-->
              <option value="2">Выход</option>
<!--              <option value="3">Регистрация</option>-->
            </select>
        </div>
        {% else %}
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
<!--              <option selected>Пользователь</option>-->
              <option value="1">Вход</option>
<!--              <option value="2">Выход</option>-->
              <option value="3">Регистрация</option>
            </select>
        </div>
        {% endif %}
    </div>

    <div class="b-example-divider"></div>

    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mt-3 mx-auto text-center">
                <h3 class="display-5 fw-normal text-body-emphasis">Категория 1</h3>
                <p class="fs-5 text-body-secondary">Вы находитесь на странице категорий</p>
            </div>
        </header>

        <main class="row">
            <div class="row text-center">
                {% for category in categories %}
                    <div class="col-4 ml-5 mt-2">
                        <div class="card mb-4 ml-5 rounded-3 shadow-sm" style="width: 18rem;">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">{{category.category_name|title}}</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{category.category_description |truncatechars:100}}
                                </p>
                                <button type="button" class="btn w-100 btn-success">Перейти в категорию</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}



        </main>

    </div>

{% endblock %}