{% extends 'catalog/base.html' %}

{% block title%} Страница категорий {% endblock %}
{% block content %}

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Меню</span>
        </a>
        <hr>
           <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/catalog/main_page/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="/catalog/category/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Категории
                </a>
            </li>
            <li>
                <a href="/catalog/catalog/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Каталог
                </a>
            </li>
            <li>
                <a href="/catalog/contacts/" class="nav-link active">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Контакты
                </a>
            </li>
            <li>
                <a href="/catalog/add_products/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#toggles2"/>
                    </svg>
                    Добавление продуктов
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Пользователь</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Выход</a></li>
            </ul>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h3 class="display-5 fw-normal text-body-emphasis">Контакты</h3>
                <p class="fs-5 text-body-secondary">Вы находитесь на странице Контактов</p>
            </div>
        </header>

        <main class="row">
            <div class="row text-center">

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="">
                                {% csrf_token %}
                              <div class="mb-1">
                                <label for="email_1" class="form-label">Email address</label>
                                <input name="email" type="email" class="form-control" id="email_1" aria-describedby="emailHelp">
                              </div>
                              <div class="mb-2">
                                <label for="name_1" class="form-label">Имя</label>
                                <input name="name" type="name" class="form-control" id="name_1">
                              </div>
                              <button type="submit" class="btn w-100 btn-primary">Отправить</button>
                            </form>
                      </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <form>
                              <div>
                                <h4>Наши контакты:</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                                    software like Aldus PageMaker including versions of Lorem Ipsum.
                                </p>

                              </div>
                            </form>
                      </div>
                    </div>
                </div>


        </main>

    </div>

{% endblock %}