{% extends 'catalog/base.html' %}

{% block title%} Страница категорий {% endblock %}
{% block content %}
    <style>
        #video-player {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            display: flex;
            flex-direction: column;
        }

        #controls {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        #progress-bar {
            width: 100%;
            margin-top: 5px;
        }

        button, input[type="range"] {
            margin: 0 5px;
        }
    </style>

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Меню</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/catalog/main_page/" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="/catalog/category/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Категории
                </a>
            </li>
            <li>
                <a href="/catalog/catalog/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Каталог
                </a>
            </li>
            <li>
                <a href="/catalog/contacts/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Контакты
                </a>
            </li>
        </ul>
        <hr>
<!--        <div class="dropdown">-->
<!--            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"-->
<!--               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">-->
<!--                <strong>Пользователь</strong>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">-->
<!--                <li><a class="dropdown-item" href="#">Профиль</a></li>-->
<!--                <li>-->
<!--                    <hr class="dropdown-divider">-->
<!--                </li>-->
<!--                <li><a class="dropdown-item" href="#">Выход</a></li>-->
<!--            </ul>-->
<!--        </div>-->
           {% if user.is_authenticated %}
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
              <option selected>Пользователь</option>
<!--              <option value="1">Вход</option>-->
              <option value="2">Выход</option>
<!--              <option value="3">Регистрация</option>-->
            </select>
        </div>
        {% else %}
        <div class="dropdown">
            <select class="form-select" aria-label="Default select example">
<!--              <option selected>Пользователь</option>-->
              <option value="1">Вход</option>
<!--              <option value="2">Выход</option>-->
              <option value="3">Регистрация</option>
            </select>
        </div>
        {% endif %}
    </div>

    <div class="b-example-divider"></div>

    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mt-3 mx-auto text-center">
                <h2 class="display-5 fw-normal text-body-emphasis">Информация о продукте:</h2>
<!--                <p class="fs-5 text-body-secondary">Вы находитесь на главной странице</p>-->
            </div>
        </header>

        <main class="row">
            <div class="row text">
                <div class="col-12 ml-5 mr-5">
                    <div class="card mb-4 ml-5 rounded-3 shadow-sm">

                        <div class="card-body">
<!--                            <h2 class="card-title pricing-card-title">$100</h2>-->
                            <p>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        Название - {{product.name}}
                                    </li>
                                    <li class="list-group-item">
                                        Цена - {{product.price}}
                                    </li>
                                    <li class="list-group-item">
                                        Категория - {{product.category}}
                                    </li>
                                    <li class="list-group-item">
                                        Описание - {{product.description}}
                                    </li>
                                    <li class="list-group-item">
                                        Дата создания - {{product.created_at | date:"d.m.Y"}}
                                    </li>
                                    <li class="list-group-item">
                                        Дата последнего изменения - {{product.updated_at | date:"d.m.Y"}}
                                    </li>
                                    <li class="list-group-item">
                                        {% if product.image %}
                                           <p> Изображение - <img src="{{product.image.url}}" class="rounded" style="width: 200px" alt="{{product.name}}"></p>
                                        {% else %}
                                            <p>Изображение отсутствует</p>
                                        {% endif %}

                                    </li>
                                    <li class="list-group-item">
                                        {% if product.videos %}
                                           <p> Видео -
<!--                                               <a href="{% url 'catalog:video_stream' product.pk %}">Видос</a>-->

                                               <video controls class="object-fit-scale"  style="width: 200px">
                                                    <source src="{% url 'catalog:video_stream' product.pk %}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>

                                        {% else %}
                                            <p>Видео отсутствует</p>

                                        {% endif %}




                                    </li>
                                </ul>
                            </p>
<!--                            <button type="button" class="btn w-100 btn-success">Купить</button>-->
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <a href="{% url 'catalog:update_product' product.pk %}" class="btn m-1 w-45 btn-warning">Редактировать</a>
                    <a href="{% url 'catalog:delete_product' product.pk %}" class="btn m-1 w-45 btn-danger">Удалить</a>
                </div>

        </main>

    </div>


{% endblock %}